AWS_PROFILE=
AWS_REGION=
AWS_ACCOUNT_ID=
ECR_REPO=
LOCAL_IMAGE=

OPENAI_API_KEY=
OPENAI_MODEL=

MOODLE_BASE_URL=
MOODLE_SERVICE=
MOODLE_USERNAME=
MOODLE_PASSWORD=

WHATSAPP_TOKEN=
WHATSAPP_VERIFY_TOKEN=

ENV=local
