# === AWS ===
AWS_PROFILE=
AWS_REGION=
AWS_ACCOUNT_ID=
ECR_REPO=
LOCAL_IMAGE=

# === OpenAI ===
OPENAI_API_KEY=
OPENAI_MODEL=

# === Moodle ===
MOODLE_BASE_URL=
MOODLE_SERVICE=
MOODLE_USERNAME=
MOODLE_PASSWORD=

# === WhatsApp ===
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_TOKEN=

# === Meta ===
ENV=
